<!doctype html>
  
<title>${post.title}</title>
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="../assets/css/style.css">
<script type=text/javascript
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<div class=box>
  
  <h1>[devlog]</h1>

  <p class=nav>
    <a href=${config['home']}>home</a> //
    <a href=${config['github']}>github</a> //
    <a href=${config['base url']}>devlog</a> //
  
  <p class="backnav">
  <a href=${config['base url']}>&laquo; back to index</a>
  <h2>${post.title}</h2>

  <ul class=mailtree>
  
    <li><div class=link>&raquo; <a href=${post.link}>${post.title}</a> by ${post.author}</div>
    
  
  </ul>

  
    <div class=mail>
      <dl>
        <dt>From:
        <dd class=from>${post.author}
        <dt>Date:
        
        <dd>${post.timestamp}
        
      </dl>
      <div class="msg">${post.msg}</div>
    </div>
  

  <p class=footer>
   Devlog based on code by
   <a href=http://www.gsathya.in/>Sathyanarayanan Gunasekaran</a> //
   <br />
   Design inspired by <a href=http://lucumr.pocoo.org/>Armin Ronacher</a> //
</p>
</div>
