<!doctype html>

  
<title>[devlog] archives</title>
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="./assets/css/style.css">
<script type=text/javascript
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>


<div class=box>
  
  <h1>librelist archives</h1>

  <p class=nav>
    <a href=/>home</a> //
    <a href=/browser/index.html>archives</a> //
  

<h2>[devlog] archives</h2>
  <ul class=archive>
  
    <li><a href="/browser//devlog/2012/8/25/torbot-and-a-new-volunteer/">torbot and a new volunteer!</a>
      <span class=meta>
        by Sathyanarayanan Gunasekaran
        
        on 2012-08-25 @ 19:19
        
        (0 replies)</span>
  
    <li><a href="/browser//devlog/2012/8/22/more-quantum-gis-work/">More Quantum GIS work</a>
      <span class=meta>
        by aruntheguy@gmail.com
        
        on 2012-08-22 @ 18:01
        
        (0 replies)</span>
  
    <li><a href="/browser//devlog/2012/8/21/bug-fixes-in-quantum-gis/">Bug fixes in Quantum GIS</a>
      <span class=meta>
        by aruntheguy@gmail.com
        
        on 2012-08-21 @ 16:00
        
        (0 replies)</span>
  
    <li><a href="/browser//devlog/2012/8/20/pajama-coding-nitins/">Pajama Coding @ Nitins</a>
      <span class=meta>
        by Sunny Suny
        
        on 2012-08-20 @ 18:15
        
        (2 replies)</span>
  
    <li><a href="/browser//devlog/2012/8/19/not-one-commit-since-the-last-devlog/">Not one commit since the last devlog</a>
      <span class=meta>
        by Yuvi Panda
        
        on 2012-08-19 @ 19:54
        
        (0 replies)</span>
  
    <li><a href="/browser//devlog/2012/8/15/vim-setup-overhaul-more-teaching-signpost-app-images/">Vim setup overhaul, More Teaching, Signpost app Images</a>
      <span class=meta>
        by Yuvi Panda
        
        on 2012-08-15 @ 04:32
        
        (0 replies)</span>
  
    <li><a href="/browser//devlog/2012/8/13/rtl-work-on-wlm-app-lots-of-teaching-and-new-language-selector-ideas/">RTL work on WLM app, lots of teaching and new Language Selector ideas</a>
      <span class=meta>
        by Yuvi Panda
        
        on 2012-08-13 @ 20:49
        
        (0 replies)</span>
  
    <li><a href="/browser//devlog/2012/8/13/maintaining-a-public-devlog/">Maintaining a Public Devlog</a>
      <span class=meta>
        by aruntheguy@gmail.com
        
        on 2012-08-13 @ 20:36
        
        (0 replies)</span>
  
    <li><a href="/browser//devlog/2012/8/12/subscribing-to-devlog/">Subscribing to devlog!</a>
      <span class=meta>
        by Kailash
        
        on 2012-08-12 @ 20:11
        
        (0 replies)</span>
  
    <li><a href="/browser//devlog/2012/8/12/minimal-wlm-work-little-touches-to-signpost-scraper-eclipse-vrapper
-and-devlog/">Minimal WLM work, little touches to Signpost Scraper, Eclipse Vrapper
 and Devlog</a>
      <span class=meta>
        by Yuvi Panda
        
        on 2012-08-12 @ 19:47
        
        (0 replies)</span>
  
    <li><a href="/browser//devlog/2012/8/12/setting-up-devlog/">Setting up Devlog</a>
      <span class=meta>
        by Yuvi Panda
        
        on 2012-08-12 @ 18:13
        
        (0 replies)</span>
  
  </ul>
  <div class=pagination>
    
      <span class=disabled>&laquo; Previous</span>
    
    | <strong>1</strong> |
    
      <span class=disabled>Next &raquo;</span>
    
  </div>

  <p class=footer>
    Archives based on code by <a href=http://lucumr.pocoo.org/>Armin Ronacher</a> //
</div>
