<!doctype html>

  
<title>[devlog]</title>
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="./assets/css/style.css">
<script type=text/javascript
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>


<div class=box>
  
  <h1>[devlog]</h1>

  <p class=nav>
    <a href=${config['home']}>home</a> //
    <a href=${config['github']}>github</a> //
    <a href=${config['base url']}>devlog</a> //
<h2>[devlog] index</h2>
  <ul class=archive>
  
% for post in posts:
<li><a href=${post.link}>${post.title}</a>
  <span class=meta>
    by ${post.author}

    on ${post.timestamp}
    </span></li>
% endfor   
  </ul>
 
  <p class=footer>
   Devlog based on code by
   <a href=http://www.gsathya.in/>Sathyanarayanan Gunasekaran</a>
   //<br />
   Design inspired by <a href=http://lucumr.pocoo.org/>Armin Ronacher</a> //
</div>
